<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.feedback.impluse">

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <uses-permission android:name="android.permission.READ_PRIVILEGED_PHONE_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Impluse">
        <activity
            android:name="com.feedback.impluse.Dashboard"
            android:theme="@style/NoActionBar"
            android:exported="false"
            android:label="@string/title_activity_dashboard" />
        <activity
            android:name="com.feedback.impluse.MainActivity"
            android:exported="true">

        </activity>

        <activity
            android:name="com.feedback.impluse.MyWeb"
            android:parentActivityName=".Dashboard"
            android:exported="true">

        </activity>


        <activity android:name=".SplashActivity"
            android:theme="@style/NoActionBar"
            android:exported="true"
            >

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <service
            android:name=".FirebaseMessagingService"
            android:exported="true"
            android:stopWithTask="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </service>

    </application>

</manifest>